#container {
    position: fixed;
    width: 1000vw;
    height: 1000vh;
    background: rgba(255, 255, 255, 0.216);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
}

#main {
    position: relative;
    background: rgb(36, 35, 35);
    top: -100px;
    padding: 20px;
    border-radius: 20px;
    width: 60vw;
}

#main textarea {

    width: 80%;
    margin-left: 10%;
    height: 150px;
    resize: none;
    background: #000;
    color: white;
    padding: 10px;

}

#main ul {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#main li {
    list-style: none;
    cursor: pointer;
    background: #00000069;
    user-select: none;
    padding: 5px 10px;
    border-radius: 20px;
}

#post {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post button {
    width: 100px;
    padding: 5px 10px;
    background: #000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#post button:hover {
    transform: scale(1.2);
    background: white;
    color: #000;
}

#close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

#close button {
    width: 40px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.selected {
    color: rgb(162, 0, 255);
    box-shadow: 0 0 10px white;
}