.container {
    height: 150px;
    width: 700px;
    border: 1px solid rgba(255, 255, 255, 0.538);
    border-radius: 20px;
    color: white;
    background: #00000042;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container:hover {
    box-shadow: 0 0 1rem tomato;
}

.quote {
    min-height: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.397);
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.author {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.479);
    min-width: 300px;
    text-align: right;
}

.like,
.comment,
.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    font-size: 15px;
}