#footer {
    color: white;
    background: #40019a;
    text-align: center;
    font-size: 1rem;
}

#container {
    display: flex;
    padding: 1%;
    width: 98%;
    min-width: 600px;
    font-size: 3rem;
    justify-content: space-between;
    align-items: center;
}

#footer h2 {
    margin: 5px;
    color: whitesmoke;
}

#info {
    color: white;
    font-size: 1.3rem;
    border-radius: 1rem;
}

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 40vw;
    padding: 2% 0;
}

#links ul {
    list-style: none;
}

#links ul li {
    margin-bottom: 1rem;
}